* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}
@import "tailwindcss";
/*
theme color : white and #041c45 with low opacity or 
              #98b7d0
border : black 
text : popins

*/
